{% extends 'blogs/base.html' %}
{% block content %}
        {% if messages %}
        <!-- this message will show only after redirecting from register page-->
        <div class="messages">
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if request.user.is_authenticated %}
            <p>{{request.user}} Welcome!</p>
            <p><a href="/post_list/">View blog lists as a existed user</a></p>
            <p><a href="/accounts/logout/">Logout</a></p>
        {% else %}
            <p>You haven't logged in!</p>
                <br></br>
                <a href="/accounts/login/">Login as a existed user</a>
                <br></br>
                <a href="/post_list/">View blog posts as a guset</a>
                <br></br>
                <a href="/accounts/register">Register</a>
        {% endif %}
{% endblock %}
